append head
  link(rel="stylesheet", href="../components/dropdown/block.styl")
  script(src="../components/dropdown/block.js")

mixin Dropdown(currentItemText)
  +b.Dropdown(tabindex=0)&attributes(attributes)
    +e.current!= currentItemText
    block