@import '../../mixins'

+b('Informer')
  line-height: 20px

  +e('primary')
    display: block
    font-size: 14px
    font-weight: WEIGHTS.BOLD
    margin-bottom: 2px

  +e('info')
    display: block
    font-size: 13px