@import '../../mixins'

+b('Menu')
  // TODO !! //
  font-size: 14px
  line-height: 18px

  background: COLORS.BG_PRIMARY

  list-style: none

  margin: 0
  padding: 6px 0

  +e('link')
    display: block
    color: COLORS.PRIMARY
    padding: 8px 22px
    text-decoration: none
    &:hover
      background: COLORS.BG_HOVER
      text-decoration: none