append head
  link(rel="stylesheet", href="../components/menu/block.styl")

mixin Menu
  mixin link
    +e.LI.item: +e.link&attributes(attributes)
      block

  +b.UL.Menu&attributes(attributes)
    block