@import '../../mixins'

+b('Menu')
  // TODO !! //
  font-size: 14px
  line-height: 18px

  list-style: none

  margin: 0
  padding: 6px 0

  +e('link')
    display: block
    color: COLORS.PRIMARY
    padding: 8px 22px
    text-decoration: none
    &:hover
      background: COLORS.BG_HOVER
      text-decoration: none

  +m('wide')
    min-width: 320px

    +e('link')
      padding: 8px 12px


  +m('scrollable')
    max-height: 248px
    overflow-x: scroll