append head
  link(rel="stylesheet", href="../components/list/block.styl")

mixin List
  mixin link
    +e.LI.item: +e.link&attributes(attributes)
      block

  +b.UL.List&attributes(attributes)
    block