@import '../../mixins'

+b('Title')
  padding: 12px 0 10px

  +e('header')
    display: inline
    font-weight: WEIGHTS.BOLD

    // TODO!! //
    font-size: 24px
    line-height: 28px

  +e('header_suffix')
    display: inline-block
    color: COLORS.SECONDARY

    // TODO!! //
    font-size: 24px
    line-height: 28px

  +e('subheader')
    padding-top: 9px
    font-size: 14px
    line-height: 20px