+b.HEADER.header.__header: +e.content
  +b.logo.__logo: +svg(118, 20, "../assets/logo.svg")

  +b.dropdown.__navigation(tabindex="0")
    +e.visible_item.--accent #[+e.B.primary Repository] Arc
    +e.UL.menu_items
        +e.LI.menu_item: +e.menu_link(href="#") Arc
        +e.LI.menu_item: +e.menu_link(href="#") My repository
        +e.LI.menu_item: +e.menu_link(href="#") Devtools-team repository