include ../base
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Yandex Arcanum
    link(href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet", href="../desktop.styl")

  +b.BODY.layout
    include ./components/header

    +e.content
      include ./components/breadcrumbs

      +b.title
        +e.content
          +e.H1.header DEVTOOLS-4599: Add option to add extra whitespace between projects
          +e.subheader #[+b.link(href="#") s324e8] by #[+b.SPAN.username woodcutter], 4s ago
        +e.controls #[+b.button(href="#") #[+svg(14, 14, "../assets/burger-menu.svg").button__icon] Show files at r4318347]

      +b.file_section.--code
        +e.title
          +e.title_content
            +b.word.--purple M
            +svg(12, 16, "../assets/file-html-gray.svg").word
            +e.overflow_ellipsis /trunk/arcadia/devtools/intellij/src/main/java/ru/yandex/devtools/intellij/arc/client/ArcCli.java
          +e.inputs
            +b.word.--green +100
            +b.word.--red -81
            +b.link.word(href="#"): +svg(12, 16, "../assets/go-to-file.svg")
        +b.PRE.code_box.--java.__content
          +e.line.--info_bar
            +e.column
              +b.word.--lightest-gray @@ -270, 160  +270, 161 @@
              +b.link.--disabled #[+svg(8, 13, "../assets/arrow-down-filled.svg")] Below 20 lines
            +e.column
              +b.link.--black(href="#") #[+svg(8, 13, "../assets/arrow-up-filled.svg")] Above 20 lines
          +e.line.--diff package ru.yandex.devtools.intellij.arc.client;
          +e.line.--diff
          +e.line.--diff_a #[+e.token.--reserved import] java.util.ArrayList;
          +e.line.--diff_a #[+e.token.--reserved import] java.util.Collection;
          +e.line.--diff_a #[+e.token.--reserved import] java.util.List;
          +e.line.--diff_a
          +e.line.--diff #[+e.token.--reserved import] com.intellij.openapi.diagnostic.Logger;
          +e.line.--diff_a #[+e.token.--reserved import] com.intellij.openapi.project.Project;
          +e.line.--diff #[+e.token.--reserved import] com.intellij.openapi.vcs.FilePath;
          +e.line.--diff #[+e.token.--reserved import] com.intellij.openapi.vcs.VcsException;
          +e.line.--diff #[+e.token.--reserved import] com.intellij.openapi.vfs.VirtualFile;
          +e.line.--diff #[+e.token.--reserved import] com.intellij.vcsUtil.VcsUtil;
          +e.line.--diff_a #[+e.token.--reserved import] org.jetbrains.annotations.NotNull;
          +e.line.--diff_a
          +e.line.--diff #[+e.token.--reserved import] ru.yandex.devtools.intellij.arc.ArcContext;
          +e.line.--diff #[+e.token.--reserved import] ru.yandex.devtools.intellij.arc.ArcRevisionNumber;
          +e.line.--diff #[+e.token.--reserved import] ru.yandex.devtools.intellij.arc.ArcStatus;
          +e.line.--diff_a #[+e.token.--reserved import] ru.yandex.devtools.intellij.arc.ui.ArcResetDialog;
          +e.line.--diff
          +e.line.--diff_d #[+e.token.--reserved import] java.util.ArrayList;
          +e.line.--diff_d #[+e.token.--reserved import] java.util.Collection;
          +e.line.--diff_d #[+e.token.--reserved import] java.util.List;
          +e.line.--diff_d
          +e.line.--diff #[+e.token.--comment /**]
          +e.line.--diff #[+e.token.--comment  #{"* @author Dmitry Andreev <a href="}"mailto:AndreevDm@yandex-team.ru"#{"></a>"}"]
          +e.line.--diff #[+e.token.--comment  * @date 11/10/2018]
          +e.line.--diff #[+e.token.--comment */]
          +e.line.--diff  #[+e.token.--reserved public] ArcCli(String arcBinaryPath) {
          +e.line.--diff         this.arcBinaryPath = arcBinaryPath;
          +e.line.--diff     }
          +e.line.--info_bar
            +e.column
              +b.word.--lightest-gray @@ -270, 160  +270, 161 @@
              +b.link.--disabled #[+svg(8, 13, "../assets/arrow-down-filled.svg")] Below 20 lines
            +e.column
              +b.link.--black(href="#") #[+svg(8, 13, "../assets/arrow-up-filled.svg")] Above 20 lines


    include ./components/footer.pug