extends ../themes/base/page

include ../components/breadcrumbs/block
include ../components/title/block
include ../components/username/block
include ../components/tabs/block
include ../components/table/block
include ../components/section/block
include ../components/icon-plus/block

block content

  +wrap: +Breadcrumbs
    +link(href="#") arcadia
    +link(href="#") trank
    +link(href="#") arcadia
    +link.--active arcanum

  +wrap: +Title
    +e.H1.header arcadia #[=' ']
    +Dropdown('trunk').__header_suffix
      +Menu.__content
        +link(href="#") Arc
        +link(href="#") My repository
        +link(href="#") Devtools-team repository
    +e.subheader Last commit #[a(href="#") c4d248] on #[a(href="#") 20 Oct 2017, 12:24] by #[+Username robot-srch-releaser]

  +wrap: +Tabs
    +tab(href="#").--active Files
    +tab(href="#") Branches

  +wrap: +Table("Name", "Last commit", "Commit message", "Committer", "Updated")
    +row.--hoverable
      +cell #[+IconPlus(11, 16, '../assets/file_folder.svg') api]
      +cell #[a(href="#") d53dsv]
      +cell [vcs] move http to arc
      +cell #[+Username noxoomo]
      +cell 4 s ago
    +row.--hoverable
      +cell #[+IconPlus(11, 16, '../assets/file_folder.svg') ci]
      +cell #[a(href="#") d53dsv]
      +cell [vcs] test for empty commit message
      +cell #[+Username noxoomo]
      +cell 1 min ago
    +row.--hoverable
      +cell #[+IconPlus(11, 16, '../assets/file_folder.svg') contrib]
      +cell #[a(href="#") d53dsv]
      +cell [vcs] change owner to g:arc
      +cell #[+Username noxoomo]
      +cell 16:25
    +row.--hoverable
      +cell #[+IconPlus(8, 16, '../assets/file_text.svg') README.md]
      +cell #[a(href="#") d53dsv]
      +cell [vcs] move http to arc
      +cell #[+Username noxoomo]
      +cell Yesterday, 14:50

  +wrap: +Section
    +title #[+IconPlus(8, 16, '../assets/file_text.svg') README.md]
    +content
      h1 Плагины и конфиги комбайна

      p Плагины - статически собираются в образ, любая модификация требует пересборки образа и перевыкатки сервиса. Перед перевыкаткой нужно не забыть поменять layers на новый, версию предыдущего layer можно посмотреть в сервисе. https://nanny.yandex-team.ru/ui/#/services/dashboards/catalog/combaine/

      p Конфиги - деплоятся динамически через deploy-configs.py, который запускается по крону на всех комбайнах. Скрипт generator.py и deploy-configs.py деплоятся динамически вместе с конфигами. Каталог configs poll-ится на измененние svn ревизии раз в минуту, поэтому задержка деплоя конфигов в комбайн должна быть не больше минуты с момента мерджа в транк.