+b('button')
  display flex
  background #f5f5f5
  border solid 1px #CCCCCC
  border-radius 3px
  text-decoration none
  transition .2s background-color
  +m('icon')
    padding 5px 12px 6px

  &:hover
    background #ccc