+b('file_section')
  margin 16px 0

  +e('title')
    padding 12px 14px 8px
    background #F5F5F5
    border 1px solid #E5E5E5
    border-bottom none
    border-radius 5px 5px 0 0
    font-size 14px
    line-height 20px
    display flex
    justify-content space-between

  +e('overflow_ellipsis')
    display inline-block
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  +e('title_content')
    display flex
    align-items center
    overflow hidden

  +e('inputs')
    display flex
    margin-left 8px

  +e('content')
    border 1px solid #E5E5E5

  +m('code')
    +e('content')
      padding 4px 0px

  +m('text')
    +e('content')
      padding 24px 32px

      h1
        font-weight 500
        font-size 20px
        line-height 24px
        margin 16px 0 10px

        &:first-child
          margin-top 0

      p
        font-size 14px
        line-height 18px