+b('filename')
  position relative
  padding-left 20px
  color #000
  margin-right 4px
  display inline-block

  &::before
    content ''
    display block
    position absolute
    top 50%
    left 0
    width 12px
    height 12px
    margin-top -(@height / 2) - 1

  +m('link')
    text-decoration none
    color #000
    font-weight 500

    &:hover
      color #1774e9

  +m('is_folder')
    &::before
      background url('./assets_css/folder.svg') no-repeat center

  +m('is_html')
    &::before
      background url('./assets_css/file-html.svg') no-repeat center

  +m('is_branch')
    &::before
      background url('./assets_css/branch.svg') no-repeat center

  +m('other')
    &::before
      background url('./assets_css/file-other.svg') no-repeat center