+b('footer')
  color #7F8285
  border-top solid 1px #F0F2F3
  display flex
  font-size 13px
  line-height 18px
  padding 14px 20px 18px

  +e('main')
    flex-grow 1

  +e('info')
    margin-left 32px
    flex-shrink 0