+b('header')
  border-bottom solid 1px #F0F2F3

  +e('content')
    { mod_centered_content }
    display flex
    align-items center

  +e('logo')
    margin-right 40px

  +e('navigation')
    height 55px