+b('history')
  margin 22px 0

  +e('title')
    font-size 16px
    line-height 20px
    color #7F8285
    font-weight 500
    margin 18px 0 16px

  +e('item')
    display grid
    grid-template-columns auto 4fr 1fr 1fr

    &:last-child
      +e('item_decor')
        &::after
          display none
      +e('item_content')
        padding-bottom 0

  +e('item_decor')
    margin-right 12px
    display flex
    flex-direction column
    align-items center

    &::after
      content ''
      display block
      width 2px
      margin 2px 0
      border-radius 10px
      background #B8BEC3
      flex-grow 1

  +e('item_img')
    width 40px
    height 40px
    border-radius 100%
    background #EBF6FD
    display flex
    align-items center
    justify-content center

  +e('item_content')
    padding-bottom 16px
    line-height 20px
    font-size 14px

  +e('item_title')
    font-weight 500

  +e('item_desc')
    font-size 13px

  +e('item_info')
    font-size 13px
    color #434445

  +e('item_link')
    font-size 13px
    line-height 20px
    margin-left 12px
    text-align right