+b('link')
  text-decoration none
  color #1774E9
  &:hover
    text-decoration underline

  +m('disabled')
    color #B8BEC3
    display inline
    &:hover
      text-decoration none

  +m('black')
    color #000
    &:hover
      color #1774E9
      text-decoration none