+b('table')
  width 100%
  margin-bottom 16px

  +e('header')
    text-align left
    font-size 14px
    line-height 20px
    color #B8BEC3

    +e('cell')
      font-weight 500
      padding 15px 8px 9px
      border-bottom solid 1px #E5E5E5

  +e('cell')
    font-size 14px
    line-height 20px
    padding 15px 8px 13px
    border-bottom solid 1px #F2F2F2

    &:last-child
      text-align right

  +e('row')
    &:hover
      +e('cell')
        background #f6f8fa

  +m('no_last_border')
    +e('row')
      &:last-child
        +e('cell')
          border-bottom none