+b('word')
  padding 0 8px
  display inline-block
  font-weight 500

  &:first-child
    padding-left 0

  &:last-child
    padding-right 0

  +m('purple')
    color #6B69C7

  +m('green')
    color #19BC4D

  +m('red')
    color #FF3029

  +m('light-gray')
    font-weight 300
    color #999

  +m('lightest-gray')
    font-weight 300
    color #B8BEC3