@import '../../mixins'

+b('Typography')
  font-family: 'YS Text', 'Yandex Sans Text', 'Open Sans', sans-serif
  word-wrap: break-word
  color: COLORS.PRIMARY

  font-size: 14px
  line-height: 18px

  a
    color: COLORS.LINK
    text-decoration: none
    &:hover
      text-decoration: underline

  b
    font-weight: WEIGHTS.BOLD

  h1
    margin: 8px 0 10px
    font-weight: WEIGHTS.BOLD
    font-size: 20px
    line-height: 24px