SIZES = {
  MAX_WIDTH: 1440px
  MIN_WIDTH: 320px
  MEDIUM_WIDTH: 600px
  PAGE_H_PADDING: 32px
  HEADER_HEIGHT: 56px
  FOOTER_PADDING: 14px 20px 18px
}

WEIGHTS = {
  BOLD: 500
}

COLORS = {
  PRIMARY: #000
  SECONDARY: #7f8285
  ACCENT: #ff4f49
  NO_ACCENT: #b8bec3
  LINK: #1774e9
  FIRST_LETTER: #ff3029

  ALT_BG: #f5f5f5
  IN_CONTENT_LINE: #e5e5e5
  SECTION_LINE: #f2f2f2
  TABLE_LINE: #f0f2f3

  BG_PRIMARY: #fff
  BG_HOVER: #f2f2f2
  TABLE_HOVER: #f1f5f9
}

ANIMATIONS = {
  TIME: .2s
}