append head
  link(rel="stylesheet", href="../components/header/block.styl")

mixin Header
  mixin logo
    +e.logo
      block

  +b.HEADER.Header&attributes(attributes): +e.content.Layout__wrap
    block