append head
  link(rel="stylesheet", href="../components/header/block.styl")

mixin Header
  +b.HEADER.Header&attributes(attributes): +e.content.Layout__wrap
    +e.logo: +svg(118, 20, '../assets/logo.svg')
    block