append head
  link(rel="stylesheet", href="../components/icon-plus/block.styl")

mixin IconPlus(width, height, icon)
  +b.IconPlus&attributes(attributes)
    +e.icon: +svg(width, height, icon)
    +e.content
      block