append head
  link(rel="stylesheet", href="../components/section/block.styl")

mixin Section
  mixin title
    +e.title&attributes(attributes)
      block

  mixin content
    +e.content&attributes(attributes)
      block

  +b.Section&attributes(attributes)
    block