@import '../../mixins'

+b('Section')
  margin: 16px 0

  +e('title')
    display: flex
    align-items: center
    // justify-content: space-between

    padding: 12px 14px 8px
    background: COLORS.BG_ALT
    border: 1px solid COLORS.IN_CONTENT_LINE
    border-bottom: 0
    border-radius: 5px 5px 0 0

  +e('content')
    border: 1px solid COLORS.IN_CONTENT_LINE
    padding: 24px 32px