append head
  link(rel="stylesheet", href="../components/footer/block.styl")

mixin Footer
  +b.Footer&attributes(attributes)
    +e.main Trade secrets of Yandex LLC. 16, Lev Tolstoy Str., Moscow, Russia, 119021
    +e.info UI: 0.1.15
    +e.info © 2007—2019 #[+Link(href="#") Yandex]