@import '../../mixins'

+b('Footer')
  display: flex
  padding: SIZES.FOOTER_PADDING
  border-top: 1px solid COLORS.SECTION_LINE
  color: COLORS.SECONDARY

  // TODO!!! // 
  font-size: 13px
  line-height: 18px

  +e('main')
    flex-grow: 1

  +e('info')
    flex-shrink: 0
    margin-left: 32px