@import '../../mixins'

+b('Table')
  width: 100%
  min-width: SIZES.MEDIUM_WIDTH
  margin: 0 0 16px

  +e('cell')
    text-align: left
    padding: 14px 8px
    border-bottom: 1px solid COLORS.IN_CONTENT_LINE
    &:last-child
      text-align: right

    +m('head')
      vertical-align: bottom
      font-weight: WEIGHTS.BOLD
      padding: 12px 8px
      color: COLORS.NO_ACCENT

  +e('row')
    +m('hoverable')
      &:hover
        +e('cell')
          background: COLORS.TABLE_HOVER