@import '../../mixins'

+b('Table')
  width: 100%
  margin-bottom: 16px

  +e('cell')
    text-align: left
    padding: 14px 8px
    border-bottom: 1px solid COLORS.IN_CONTENT_LINE
    &:last-child
      text-align: right

    +m('head')
      color: COLORS.NO_ACCENT
      font-weight: 500
      padding: 12px 8px

  +e('row')
    +m('hoverable')
      &:hover
        +e('cell')
          background: COLORS.TABLE_HOVER