append head
  link(rel="stylesheet", href="../components/table/block.styl")

mixin Table(...columnNames)
  mixin row
    +e.TR.row&attributes(attributes)
      block

  mixin cell
    +e.TD.cell&attributes(attributes)
      block

  +b.TABLE.Table(cellspacing="0")&attributes(attributes)
    thead
      +row
        each name in columnNames
          +e.TH.cell.--head= name

    tbody
      block