append head
  link(rel="stylesheet", href="../components/breadcrumbs/block.styl")

mixin Breadcrumbs
  mixin link
    +e.LI.item: +e.link&attributes(attributes)
      block

  +b.UL.Breadcrumbs&attributes(attributes)
    block