@import '../../mixins'

$H_SIZE = 12px
$W_SIZE = 12px

+b('Breadcrumbs')
  border-bottom: 1px solid COLORS.IN_CONTENT_LINE

  list-style: none
  margin: 0
  padding: $H_SIZE 0

  +e('item')
    display: inline-block
    margin-right: $W_SIZE

    &::after
      content: '/'
      margin-left: $W_SIZE

    &:last-child
      margin-right: 0

      &::after
        display: none

  +e('link')
    color: COLORS.SECONDARY
    text-decoration: none
    &:hover
      color: COLORS.LINK

    +m('active')
      color: COLORS.PRIMARY
      font-weight: WEIGHTS.BOLD
      &:hover
        color: COLORS.PRIMARY