.layout {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.layout__header {
  flex-shrink: 0;
}
.layout__content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  flex-grow: 1;
}
.layout__footer {
  flex-shrink: 0;
}
.header {
  border-bottom: solid 1px #f0f2f3;
}
.header__content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 40px;
}
.header__navigation {
  height: 55px;
}
.dropdown {
  font-size: 14px;
  line-height: 18px;
  padding-right: 18px;
  cursor: pointer;
}
.dropdown__visible_item {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}
.dropdown__visible_item::after {
  content: '';
  position: absolute;
  right: -18px;
  top: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  background: url("arrow-down-outline.08f12028.svg") no-repeat center;
  transition: transform 0.2s;
}
.dropdown__visible_item--accent {
  transform: translateY(1px);
  border-bottom: solid 3px #ff4f49;
}
.dropdown__primary {
  font-weight: 500;
  margin-right: 3px;
}
.dropdown__menu_items {
  z-index: 1;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  margin: 0;
  padding: 6px 0;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(53,73,93,0.2);
  transform: translateY(-20px);
  transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
}
.dropdown__menu_item {
  padding: 8px 22px;
}
.dropdown__menu_link {
  text-decoration: none;
  color: #000;
}
.dropdown--in_title .dropdown__visible_item {
  font-size: 24px;
  line-height: 28px;
}
.dropdown--is_gray {
  color: #7f8285;
}
.dropdown--is_gray .dropdown__visible_item::after {
  background: url("arrow-down-outline-gray.79be715d.svg") no-repeat center;
}
.dropdown--is-openned .dropdown__menu_items {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.dropdown--is-openned .dropdown__visible_item::after {
  transform: rotate(-180deg);
}
.breadcrumbs {
  list-style-type: none;
  padding: 11px 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  border-bottom: solid 1px #e5e5e5;
}
.breadcrumbs__item {
  margin-right: 12px;
  display: inline-block;
}
.breadcrumbs__item::after {
  content: '/';
  margin-left: 12px;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__item--active {
  font-weight: 500;
}
.breadcrumbs__link {
  text-decoration: none;
  color: #7f8285;
}
.breadcrumbs__link:hover {
  text-decoration: underline;
  color: #1774e9;
}
.title {
  padding: 12px 0 10px;
  display: flex;
}
.title__content {
  flex-grow: 1;
}
.title__controls {
  margin-left: 12px;
}
.title__header {
  display: inline;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.title__header_suffix {
  margin-left: 4px;
  display: inline-block;
}
.title__subheader {
  padding-top: 9px;
  font-size: 14px;
  line-height: 20px;
}
.link {
  text-decoration: none;
  color: #1774e9;
}
.link:hover {
  text-decoration: underline;
}
.link--disabled {
  color: #b8bec3;
  display: inline;
}
.link--disabled:hover {
  text-decoration: none;
}
.link--black {
  color: #000;
}
.link--black:hover {
  color: #1774e9;
  text-decoration: none;
}
.username {
  display: inline-block;
}
.username::first-letter {
  color: #ff3029;
}
.tab-navigation {
  border-bottom: solid 1px #e5e5e5;
}
.tab-navigation__menu_link {
  text-decoration: none;
  display: inline-block;
  padding: 8px 0;
  margin: 0 16px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #7f8285;
  font-weight: 500;
  letter-spacing: 0.25px;
  transform: translateY(1px);
  border-bottom: solid 3px transparent;
}
.tab-navigation__menu_link:first-child {
  margin-left: 0;
}
.tab-navigation__menu_link:last-child {
  margin-right: 0;
}
.tab-navigation__menu_link--is_active {
  color: #000;
  border-bottom: solid 3px #ff4f49;
}
.table {
  width: 100%;
  margin-bottom: 16px;
}
.table__header {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: #b8bec3;
}
.table__header .table__cell {
  font-weight: 500;
  padding: 15px 8px 9px;
  border-bottom: solid 1px #e5e5e5;
}
.table__cell {
  font-size: 14px;
  line-height: 20px;
  padding: 15px 8px 13px;
  border-bottom: solid 1px #f2f2f2;
}
.table__cell:last-child {
  text-align: right;
}
.table__row:hover .table__cell {
  background: #f6f8fa;
}
.table--no_last_border .table__row:last-child .table__cell {
  border-bottom: none;
}
.filename {
  position: relative;
  padding-left: 20px;
  color: #000;
  margin-right: 4px;
  display: inline-block;
}
.filename::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  margin-top: -7px;
}
.filename--link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.filename--link:hover {
  color: #1774e9;
}
.filename--is_folder::before {
  background: url("folder.b54bb8e9.svg") no-repeat center;
}
.filename--is_html::before {
  background: url("file-html.b10beac9.svg") no-repeat center;
}
.filename--is_branch::before {
  background: url("branch.9a0c4f96.svg") no-repeat center;
}
.filename--other::before {
  background: url("file-other.5ecc306c.svg") no-repeat center;
}
.file_section {
  margin: 16px 0;
}
.file_section__title {
  padding: 12px 14px 8px;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}
.file_section__overflow_ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file_section__title_content {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.file_section__inputs {
  display: flex;
  margin-left: 8px;
}
.file_section__content {
  border: 1px solid #e5e5e5;
}
.file_section--text .file_section__content {
  padding: 24px 32px;
}
.file_section--text .file_section__content h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 16px 0 10px;
}
.file_section--text .file_section__content h1:first-child {
  margin-top: 0;
}
.file_section--text .file_section__content p {
  font-size: 14px;
  line-height: 18px;
}
.word {
  padding: 0 8px;
  display: inline-block;
  font-weight: 500;
}
.word:first-child {
  padding-left: 0;
}
.word:last-child {
  padding-right: 0;
}
.word--purple {
  color: #6b69c7;
}
.word--green {
  color: #19bc4d;
}
.word--red {
  color: #ff3029;
}
.word--light-gray {
  font-weight: 300;
  color: #999;
}
.word--lightest-gray {
  font-weight: 300;
  color: #b8bec3;
}
.code_box {
  display: block;
  font-family: 'PT Mono', monospace;
  counter-reset: line_no_1;
  counter-reset: line_no_2;
  margin: 0;
}
.code_box--padded {
  padding: 4px 0;
}
.code_box__column {
  box-sizing: border-box;
  padding: 6px 12px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
.code_box__line {
  display: block;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
}
.code_box__line--line_no {
  counter-increment: line_no_1;
  padding: 0 16px 0 70px;
}
.code_box__line--line_no:before {
  display: block;
  position: absolute;
  width: 40px;
  left: 0;
  top: 0;
  text-align: right;
  content: counter(line_no_1);
}
.code_box__line--diff {
  counter-increment: line_no_1;
}
.code_box__line--diff::before {
  counter-increment: line_no_2;
}
.code_box__line--diff_a {
  background: #e6ffed;
  counter-increment: line_no_1;
}
.code_box__line--diff_d {
  background: #ffeef0;
  counter-increment: line_no_2;
}
.code_box__line--diff_a,
.code_box__line--diff_d,
.code_box__line--diff {
  padding: 0 16px 0 112px;
}
.code_box__line--diff_a::after,
.code_box__line--diff_d::after,
.code_box__line--diff::after,
.code_box__line--diff_a::before,
.code_box__line--diff_d::before,
.code_box__line--diff::before {
  color: #b8bec3;
}
.code_box__line--diff::after,
.code_box__line--diff_a::after {
  display: block;
  position: absolute;
  width: 40px;
  left: 40px;
  top: 0;
  text-align: right;
  content: counter(line_no_1);
}
.code_box__line--diff::before,
.code_box__line--diff_d::before {
  display: block;
  position: absolute;
  width: 40px;
  left: 0;
  top: 0;
  text-align: right;
  content: counter(line_no_2);
}
.code_box__line--info_bar {
  font-size: 12px;
  line-height: 28px;
  background: #f1f8ff;
  white-space: nowrap;
  display: flex;
}
.code_box__token {
  color: #00234b;
}
.code_box__token--comment {
  color: #8694a2;
}
.code_box__token--reserved {
  font-weight: 600;
}
.code_box__token--string {
  color: #005fba;
}
.code_box__token--func {
  font-weight: 600;
  color: #005fba;
}
.button {
  display: flex;
  background: #e6e6e6;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.2s background-color;
  color: #000;
  font-size: 13px;
  line-height: 15px;
  padding: 6px 12px;
}
.button--with_border {
  background: #f5f5f5;
  border: solid 1px #ccc;
}
.button__icon {
  margin-right: 6px;
}
.button:hover {
  background: #ccc;
}
.history {
  margin: 22px 0;
}
.history__title {
  font-size: 16px;
  line-height: 20px;
  color: #7f8285;
  font-weight: 500;
  margin: 18px 0 16px;
}
.history__item {
  display: grid;
  grid-template-columns: auto 4fr 1fr 1fr;
}
.history__item:last-child .history__item_decor::after {
  display: none;
}
.history__item:last-child .history__item_content {
  padding-bottom: 0;
}
.history__item_decor {
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history__item_decor::after {
  content: '';
  display: block;
  width: 2px;
  margin: 2px 0;
  border-radius: 10px;
  background: #b8bec3;
  flex-grow: 1;
}
.history__item_img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ebf6fd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.history__item_content {
  padding-bottom: 16px;
  line-height: 20px;
  font-size: 14px;
}
.history__item_title {
  font-weight: 500;
}
.history__item_desc {
  font-size: 13px;
}
.history__item_info {
  font-size: 13px;
  color: #434445;
}
.history__item_link {
  font-size: 13px;
  line-height: 20px;
  margin-left: 12px;
  text-align: right;
}
.footer {
  color: #7f8285;
  border-top: solid 1px #f0f2f3;
  display: flex;
  font-size: 13px;
  line-height: 18px;
  padding: 14px 20px 18px;
}
.footer__main {
  flex-grow: 1;
}
.footer__info {
  margin-left: 32px;
  flex-shrink: 0;
}
html {
  height: 100%;
  font-family: 'YS Text', 'Yandex Sans Text', 'Open Sans', sans-serif;
}


/*# sourceMappingURL=/desktop.396c2713.css.map */