mod_centered_content =
  box-sizing border-box
  width 100%
  max-width 1440px
  padding-left 32px
  padding-right 32px
  margin 0 auto

mod_nav_item =
  border-bottom solid 3px transparent

mod_accent_nav_item =
  border-bottom solid 3px #FF4F49