@import 'stylus-bem-sugar/bem-sugar'

@import './common'

@import './content_blocks/layout'
@import './content_blocks/header'
@import './content_blocks/dropdown'

@import './content_blocks/breadcrumbs'

@import './content_blocks/title'
@import './content_blocks/link'
@import './content_blocks/username'

@import './content_blocks/tab_navigation'

@import './content_blocks/table'
@import './content_blocks/filename'

@import './content_blocks/file_section'
@import './content_blocks/word'
@import './content_blocks/code_box'
@import './content_blocks/button'

@import './content_blocks/history'

@import './content_blocks/footer'

html
  height 100%
  font-family 'YS Text', 'Yandex Sans Text', 'Open Sans', sans-serif