@import 'stylus-bem-sugar/bem-sugar'

// @stylint off
__NATIVE_E = e
e(element, tag=null)
  +__NATIVE_E(element)
    {block}
// @stylint on

@import './themes/base/vars'
@import './themes/mobile/vars'
@import './themes/dark/vars'

accent_item =
  border-bottom: 3px solid COLORS.ACCENT

narrow()
  @media (max-width: SIZES.MEDIUM_WIDTH)
    {block}

theme(name)
  \.Theme--{name} &
  &.Theme--{name}
    {block}